/* global styles */
@font-face {
  font-family: "Bunny Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bunny Regular"), url("fonts/Banny-BoldRound.woff") format("woff");
}

@font-face {
  font-family: "Open Sans", sans-serif;
}

@font-face {
}

html,
body {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* abstract styles */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 80px;
  position: relative;
}

.container-full {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container_inner {
  display: flex;
  align-items: center;
}
.container_inner--pading-one {
  padding: 60px 0;
}

.container_inner--pading-menu {
  padding: 60px 0 0 0;
}

.container_inner--pading-top {
  padding-top: 60px;
}

.container_inner--pading-bottom {
  padding-bottom: 60px;
}

.container_inner--pading-text {
  padding-bottom: 40px;
}

.container_inner-part {
  flex: 1;
}

.first_title {
  font-family: "Bunny Regular";
  font-size: 6rem;
  line-height: 0rem;
  position: relative;
  box-sizing: border-box;
}

.first_title::after {
  content: "";
  position: absolute;
  width: 60px;
  border-top: 5px solid #e8c300;
  border-radius: 50px;
  box-sizing: border-box;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.second_title {
  font-family: "Bunny Regular";
  font-size: 2.25rem;
  line-height: 3rem;
  position: relative;
  text-transform: uppercase;
}

.second_title::after {
  content: "";
  position: absolute;
  width: 60px;
  border-top: 5px solid #e8c300;
  border-radius: 50px;
  box-sizing: border-box;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.thirt_title {
  text-align: center;
  line-height: 0.875rem;
  letter-spacing: 0.5rem;
  padding-top: 50px;
}
.section__text--title {
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.section__text--description {
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.text_bold {
  font-weight: bold;
}

.text_center {
  text-align: center;
}

.text_lower {
  text-align: center;
  line-height: 0.75rem;
  font-size: 0.75rem;
}

.text_grey {
  color: rgba(51, 51, 51, 0.5);
}

.img-block {
  position: relative;
  display: inline-block;
}

.img-block img {
  width: 475px;
  height: 475px;
}

.img-block::after {
  position: absolute;
  background-image: url(./img/frame-img.png);
  content: "";
  width: 226px;
  height: 226px;
  background-size: 226px;
  top: 50%;
  transform: translateY(-50%);
}

.after_right {
  float: left;
}

.after_left {
  float: right;
}

.after_right::after {
  right: -70px;
}

.after_left::after {
  left: -70px;
}

/* sections styles */
/* header section */
#header {
  min-height: 100vh;
  background: url(./img/header-bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
}

.line {
  z-index: 100;
  background: url(/img/Line-centre.svg);
}

.header__navigation {
  padding-top: 25px;
  z-index: 10;
}

.header__navigation--list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__navigation--list li {
  flex: 1 1 auto;
  text-align: center;
}

.navigation__link {
  height: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.logo__imag {
  background-image: url(/img/Vector.svg);
  display: block;
  width: 100%;
}

.header__wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header__wrap-left {
  position: absolute;
  transform: rotate(180deg);
  writing-mode: tb;
  left: 100px;
  top: 40%;
}

.header__wrap-right {
  position: absolute;
  right: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  top: 40%;
}

.header__wrap-right li {
  margin: 20px 0;
}

.social-link__block {
  position: relative;
  /* display: inline-block; */
}

.social-link__block i {
  color: #ffffff;
  width: 40px;
  height: 40px;
}

.social-link__block::after {
  position: absolute;
  background-image: url(./img/Ellipse_60.svg);
  content: "";
  width: 60px;
  height: 60px;
  background-size: 60px;
  top: 20%;
  left: -60%;
  transform: translateY(-50%);
}
.header__wrap-centr {
  text-align: center;
}

.header__wrap--text {
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.5em;
}

.header__wrap--button-block {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.header__wrap--button-block button {
  flex: 0 0 200px;
  height: 60px;
  border-radius: 5px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #ffffff;

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.header__wrap--button-block button:first-child {
  background: #e8c300;
  margin-right: 40px;
  border: none;
}

.header__scroll {
  margin-top: 90px;
  width: 70px;
  height: 70px;
  background: url(./img/down-btn.png);
  background-size: 70px;

  position: absolute;
  bottom: 95px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* team section */
#team {
  background: url(./img/team-bg.jpg) center top no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #ffffff;
}

/* book section */
#book {
}

.book-form__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.book-form__inner .book-form__input-wrapper {
  /* flex: 1 1 50%; */
  width: calc(50% - 5px);
  margin-bottom: 10px;
}
.book-form__inner .book-form__input-wrapper:nth-child(odd) {
  margin-right: 10px;
}

.book-form__inner input {
  width: calc(100% - 20px);
  height: 60px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  padding-left: 20px;

  font-size: 0.875rem;
  line-height: 1.188rem;
  color: rgba(51, 51, 51, 0.5);
}

.book-form__inner button {
  width: 100%;
}

.yellow-button {
  height: 60px;

  background: #e8c300;
  border-radius: 5px;
  border: none;

  font-size: 0.75rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 1);
  font-family: Open Sans;
}

#specialites {
  background: url(./img/specialtys-bg.jpg) center top no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #ffffff;
  overflow: hidden;
}

.specialites__slider {
  position: relative;
  height: 500px;
  width: 100%;
}

.specialites__slider-item {
  position: absolute;
  transition: all 1s linear;
  opacity: 0;
  transform: translateX(100%);
}

.is-active {
  opacity: 1;
  transform: translateX(0);
}

.specialites__dots{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 999;
}

.specialites__dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 10px;
}

.active__dot {
  background: white;
}

.specialites__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;

}

.specialites__control-left {
  width: 35px;
  height: 35px;
  background: url(./img/down-btn.png);
  background-size: 35px;
  transform: rotate(90deg) translate(0px, 35px);
}

.specialites__control-right {
  width: 35px;
  height: 35px;
  background: url(./img/down-btn.png);
  background-size: 35px;
  transform: rotate(270deg) translate(0px, 35px);
}


/* menu section */
#menu {
}

.menu-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 50px 250px;
  text-transform: uppercase;
}

.menu-list li {
  position: relative;
}

.menu-list li:not(:last-child)::after {
  position: absolute;
  width: 50px;
  height: 0px;
  content: "";
  border: 1px solid rgba(51, 51, 51, 0.2);
  transform: rotate(90deg);
}

.menu-list__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 25px;
}

.menu-list__items li{
  min-width: 33.33%;
  display: flex;
  flex-direction: column;
}

.menu-list__items-inner {
  display: flex;
  justify-content: space-between;
}

.menu-list__items-inner p:last-child {
  padding-right: 10px;
}


.menu-list__items--text-first {
  font-family: "Bunny Regular";
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin-bottom: 0px;
}

.menu-list__items--text-second {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 0px;
  color: rgba(51, 51, 51, 0.5);
}

.menu-list li {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #333333;
}

.menu_text {
  font-family: "Bunny Regular";
  font-size: 1.125rem;
  line-height: 1.125rem;
}

/* privat section */
#privat {
  background: url(./img/specialtys-bg.jpg) center top no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: #ffffff;
}

.img-::after {
  width: 80px;
  height: 475px;
  background: #000000;
  border-radius: 0px 5px 5px 0px;
}

.privat_left-text-position {
  position: absolute;
  transform: rotate(90deg);
  top: 203px;
  background-color: rgb(0, 0, 0);
  width: 338px;
  margin: 0px;
  right: -122px;
  padding-left: 56px;
}

.privat_right-text-position {
  position: absolute;
  transform: rotate(-90deg);
  top: 203px;
  background-color: rgb(0, 0, 0);
  width: 338px;
  margin: 0px;
  left: -122px;
  padding-left: 56px;
}

.privat_text-font {
  font-family: "Bunny Regular";
  font-size: 1.5rem;
  line-height: 4.25rem;
}

.privat_text-lower {
  color: rgba(255, 255, 255, 0.5);
}

/* gallery section */
#gallery {
  margin-top: -12px;
}

.galery__inner {
  display: flex;
}

.galery__item {
  flex: 0 0 20%;
}

.galery__item img {
  width: 100%;
}

/* contact section */
#contact {
}
.contact__wrapper {
  margin-top: 100px;
  text-align: center;
}

.contact-form__inner {
  display: flex;
  flex-wrap: wrap;
}

.contact-form__inner input {
  width: calc(100% - 20px);
  height: 60px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  padding-left: 20px;

  font-size: 0.875rem;
  line-height: 1.188rem;
  color: rgba(51, 51, 51, 0.5);
}

.contact-form__inner textarea {
  width: calc(100% - 20px);
  height: 120px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  padding-left: 20px;

  font-size: 0.875rem;
  line-height: 1.188rem;
  color: rgba(51, 51, 51, 0.5);
}

.container_inner--adress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-form__inner--first {
  width: calc(33.33% - 6.9px);
  margin-bottom: 12px;
}

.contact-form__inner--first:nth-child(-n + 2) {
  margin-right: 10px;
}

.contact-form__inner--second {
  width: 100%;
  height: 120px;
  margin-bottom: 15px;
}

.contact-form__inner--third {
  width: calc(50% - 5px);
  margin-bottom: 10px;
}

.text_address {
  font-weight: 900;
  font-family: Open Sans;
  font-size: 0.875rem;
  line-height: 4rem;
  color: rgba(51, 51, 51, 0.5);
  text-decoration: none;
}

.yellow_icon {
  color: #e8c300;
  margin-right: 10px;
}

/* map section */
#map {
  height: 400px;
  width: 100%;
}

/* signup section*/
#signup {
  background: rgba(0, 0, 0, 0.9);
  padding: 40px 0;
}

.signup__text {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  line-height: 0.75rem;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .container {
    padding: 0 40px;
  }

  .container_inner {
    display: flex;
    flex-wrap: wrap;
  }

  .container_inner--pading-one {
    padding: 10px 0;
  }

  .container_inner--pading-top {
    padding-top: 20px;
  }

  .header__navigation {
    display: none;
  }

  .first_title::after {
    bottom: -30px;
    border-top: 3px solid #e8c300;
  }

  .header__wrap-left {
    display: none;
  }

  .header__wrap--button-block {
    flex-wrap: wrap;
    padding-top: 0px;
  }

  .header__wrap--button-block button:first-child {
    margin: 20px 0 15px 0;
  }

  .header__wrap--button-block button {
    height: 50px;
  }

  .header__wrap-right {
    display: none;
  }

  .header__scroll {
    width: 50px;
    height: 50px;
    background-size: 50px;
    bottom: 30px;
  }

  .first_title {
    font-size: 2rem;
    word-wrap: normal;
  }

  .second_title {
    font-size: 1.25rem;
    line-height: 1rem;
  }

  .second_title::after {
    width: 40px;
    border-top: 3px solid #e8c300;
  }

  .thirt_title {
    letter-spacing: 0.12rem;
    padding-top: 30px;
  }

  .section__text--title {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }

  .section__text--description {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .img-block img {
    width: 275px;
    height: 275px;
  }

  .img-block::after {
    width: 113px;
    height: 113px;
    background-size: 113px;
  }

  .after_right::after {
    right: -12px;
  }

  .after_left::after {
    left: -12px;
  }

  .book-form__inner {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .book-form__inner input {
    text-indent: 10px;
    width: 100%;
    padding: 0;
    height: 30px;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .book-form__inner .book-form__input-wrapper {
    width: 100%;
  }

  .book-form__inner .book-form__input-wrapper:nth-child(2n+1) {
    margin-right: 0px;
  }

  .yellow-button {
    height: 40px;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .menu-list li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    width: 50px;
  }

  .menu-list li:not(:last-child)::after{
    content: none;
  }

  .container_inner--pading-menu {
    padding: 15px 0 0 0;
  }

  .menu-list__items--text-first {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  .menu-list__items--text-second {
    font-size: 0.65rem;
    line-height: 0.65rem;
  }

  .privat_text-font {
    font-size: 1rem;
    line-height: 2.25rem;
  }

  .privat_left-text-position {
    top: 119px;
    width: 173px;
    right: -75px;
  }

  .privat_right-text-position {
    top: 119px;
    width: 173px;
    left: -75px;
  }

  .text_lower {
    line-height: 0.5rem;
    font-size: 0.5rem;
  }

  .container_inner--pading-text {
    padding-bottom: 20px;
  }

  .text_address {
    line-height: 1.5rem;
    font-weight: 700;
    font-size: 0.875rem;
  }

  .contact-form__inner--first {
    width: 100%;
  }

  .contact-form__inner input {
    height: 30px;
    width: 100%;
    padding: 0;
    text-indent: 10px;
  }

  .contact-form__inner--first:nth-child(-n+2) {
    margin-right: 0;
  }

  .contact-form__inner--third {
    width: 100%;
  }

  .contact-form__inner textarea {
    width: 100%;
    height: auto;
    padding-left: 0;
    text-indent: 10px;
  }

  .container_inner--adress {
    flex-direction: column;
  }

  #signup {
    padding: 20px 0;
  }

  .signup__text {
    font-size: 0.5rem;
    line-height: 0.5rem;
  }
}
